* {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-radius: 5px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  margin: 0 50px 0 50px;
  transition: 0.2s all ease;
}
body nav {
  width: 100vw;
  display: flex;
  justify-content: right;
}
body nav .screen_mode {
  margin: 50px 35px 0 0;
}
body nav .screen_mode #screen_mode {
  border: none;
  background-color: white;
  cursor: pointer;
}
body nav .screen_mode #screen_mode .mode_logos {
  display: flex;
  justify-content: center;
  align-items: center;
}
body nav .screen_mode #screen_mode .mode_logos #sun_logo {
  position: absolute;
  width: 2.5em;
  height: 2.5em;
  opacity: 0;
}
body nav .screen_mode #screen_mode .mode_logos #moon_logo {
  width: 2.5em;
  height: 2.5em;
}
body .header_logo {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
}
body .header_logo .app_state {
  font-size: 1.1rem;
  background-color: #aaa9a9;
  color: black;
  padding: 0.3em 1.2em;
}
body form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5em;
  height: 60vh;
  width: 100%;
}
body form .input_div {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  max-width: 50rem;
}
body form .input_div label {
  font-weight: normal;
}
body form .input_div input {
  padding: 1em 5em;
  border: 1px solid black;
}
body form .pin_put_div {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
  gap: 0.5em;
}
body form .pin_put_div .pins {
  display: flex;
  gap: 19px;
}
body form .pin_put_div .pins .pin_put {
  width: 55px;
  padding: 1em 0;
  border: 1px solid black;
  text-align: center;
}
body form .button_div {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50rem;
}
body form .button_div .submit_button {
  background-color: #aaa9a9;
  color: white;
  border: none;
  padding: 1em 8.5em;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
}
body form .reminders {
  display: flex;
  gap: 2em;
}
body form .reminders .remember_me {
  display: flex;
  gap: 0.5em;
}
body form .reminders .remember_me #remember_checkbox:checked {
  accent-color: black;
}
body #form_loggedin {
  margin: 0em 0 0 0;
}
body #logged_remember {
  opacity: 0;
}
body #logged_register {
  opacity: 0;
}
body .register_link {
  padding: 0em 0 0 0;
}
body .register_link a {
  color: #393636;
  font-weight: bold;
  text-decoration: none;
}

body.nite_mode {
  background-color: black;
  color: white;
}
body.nite_mode nav .screen_mode #screen_mode {
  border: none;
  background-color: black;
  cursor: pointer;
}
body.nite_mode nav .screen_mode #screen_mode .mode_logos #sun_logo {
  opacity: 1;
}
body.nite_mode nav .screen_mode #screen_mode .mode_logos #moon_logo {
  opacity: 0;
}
body.nite_mode .header_logo .app_state {
  background-color: #393636;
  color: white;
}
body.nite_mode form .input_div input {
  border: 1px solid white;
  background-color: black;
}
body.nite_mode form .pin_put_div .pins .pin_put {
  border: 1px solid white;
  background-color: black;
}
body.nite_mode form .submit_button {
  background-color: #393636;
  color: white;
}
body.nite_mode form .remember_me #remember_checkbox:checked {
  border: 1px solid white;
  accent-color: black;
}
body.nite_mode .register_link a {
  color: white;
}/*# sourceMappingURL=style.css.map */